@font-face {
    font-family: "uns";
    src: url(/font/uns.ttf);
}
body{
    background: linear-gradient(to top, rgba(202,120,211,255),rgba(241,201,152,255));
    font-family: "uns";
    font-size: 20px;
}
.title{
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.link a:link{
    display:block;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: rgb(237, 193, 132);
    background-color: rgb(164, 54, 142);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.intro {
    background-color: white;
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.content{
    background-color: white;
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.head{
    color: rgb(10, 179, 201);
}