html{
    background: linear-gradient(to bottom,rgb(99, 207, 253),rgb(244, 160, 217));
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

h1{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: bolder;
}


button{
    text-align: center;
    background-color: rgb(95, 98, 255);
    padding: 20px;
    border:none;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 161px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    

}

a{
    display: block;
    text-decoration: none;
    background-color: rgb(95, 98, 255);
    border: 10px;
    margin-left: auto;
    margin-right: auto;
    color: antiquewhite;

}
/* male */
button .girl{
    display: none;
}
button:hover .male{
    display: none;
}
button:hover .girl{
    display: inline;
}
button .male{
    display: block;
}


/* female */
button .girl{
    display: none;
}
button:hover .female{
    display: none;
}
button:hover .girl{
    display: inline;
}

