/* font */
@font-face {
    font-family: 'utm nokia standard';
    src: url(/font/uns.ttf);
}
@font-face {
    font-family: 'UTM BryantLG Bold';
    src: url(/font/UTM\ BryantLG_0.ttf);
}
@font-face {
    font-family: 'UTM BryantLG';
    src: url(/font/UTM\ BryantLG.ttf);
}

body{
   font-family: 'UTM BryantLG';
    background: linear-gradient(to left, rgb(22, 133, 231), rgb(193, 226, 255));
    margin: 0;
    font-size: 20px;

}
/* openning */
h1{
    font-family: 'UTM BryantLG Bold';
    margin: 0;
    font-size: 3rem;
    color:rgb(2, 34, 62);

}
.head1{
    display: block;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;

}
.begin{
    background: rgba(114, 112, 255, 0.25);
    margin-top: 0;
    padding: 50px;

}
.openning{
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 0px;
    color: white;
}

/* -quick survey- */
.bancovotrikhong{
    font-weight: bolder;
}

.votri a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    display: inline-block;  
    padding: 10px;
    background: linear-gradient(to bottom, rgb(112, 195, 248),rgb(203, 129, 255));
    border-radius: 20px;
    width: 50px;
    margin-right: 30px;
    box-shadow: 0px 4px 5px 0px rgb(0,0,0,0.25);
    transition: all ease-in-out 250ms;
}
.votri a:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 5px -2px rgb(0,0,0,0.25);
}
/* my first web */
h2{
    font-family: 'UTM BryantLG Bold';
    margin: 0;
    font-size: 2rem;
    color:rgb(255, 255, 255);

}
.head2{
    display: block;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.begin2{
    background: rgba(206, 116, 255, 0.25);
    margin: 0px;
    padding: 50px;

}
.webdautien{
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 0px;
    color: white;
}
.link1 a:link{
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 20px;
    width: 200px;
    border: 2px solid;
    padding: 20px;
    transition: all ease-in-out 300ms;
}

.link1 a:hover{
    background-color: white;
    color: rgb(104, 81, 231);
    border-color: white;
}
/* bán Kee */
.head3{
    display: block;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.begin3{
    background: rgba(150, 255, 168, 0.25);
    margin-left: 0px;
    margin-right: 0px;
    padding: 50px;

}
.webdautien{
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 0px;
    color: white;
}
.link1 a:link{
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 20px;
    width: 200px;
    border: 2px solid;
    padding: 20px;
    transition: all ease-in-out 300ms;
}

.link1 a:hover{
    background-color: white;
    color: rgb(104, 81, 231);
    border-color: white;
}
/* bán Kee */
.head4{
    display: block;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.begin4{
    background: rgba(252, 233, 159, 0.25);
    margin-left: 0px;
    margin-right: 0px;
    padding: 50px;

}
.photo{
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 0px;
    color: white;
}
.link2 a:link{
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 20px;
    width: 200px;
    border: 2px solid;
    padding: 20px;
    transition: all ease-in-out 300ms;
}

.link2 a:hover{
    background-color: white;
    color: rgb(148, 130, 247);
    border-color: white;
}