@font-face {
    font-family: uns;
    src: url(/font/uns.ttf);
}
@font-face {
    font-family: unsb;
    src: url(/font/unsb.ttf);
}
body{
    font-family: uns;
    background-color: blanchedalmond;
    padding: 5em;
    text-align: center;
}
head{
    font-family: unsb;
}
.pic1{
    width: 200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

 
}
.box{
    background: rgb(250, 216, 152);
    padding: 2em;
    width: 50%;
    margin: 0em auto 2em;
/* Outline thì bao quanh hết, còn border có thế phần */
    border: 2px solid rgb(223, 180, 98);
    outline: 5px solid rgb(128, 97, 40);
    outline-offset: 5px;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background: rgb(203, 140, 63);
    color: white;
    padding: 1em 3em;
    outline: 3px solid rgb(203, 140, 63);
    border-radius: 10px;
    margin-top: 15px;
    transition:all ease-in-out 300ms;
}
.btn:hover{
    outline: 3px solid rgb(203, 140, 63);
    outline-offset: 5px;
}
.box2{
    background: rgb(252, 243, 191);
    padding: 20px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 10000ms;
    transition-property: background, transform;
    transition-timing-function: ease-in;

}
.box2:hover{
    background: rgb(188, 200, 255);
    transform:rotate(3600deg);

}